<style type="text/css">
@page { size: letter landscape; margin: 1cm;}
body { font-family: sans-serif; }

.content {
    padding: 50px;
    font-size: 12px;
/*
    font-size: 8px;
*/
}
.header {
}
.logo {
    padding-bottom: 20px;
}
.header-details {
    height: 40px;
    padding-top: 20px;
}
.header-id {
    float: left;
    font-weight: bold;
}
.header-date {
    float: right;
    font-weight: bold;
}
.maf {
    padding-bottom: 50px;
}
.maf-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.maf-cell-header {
    font-weight: bold;
}

.signer-position {
    width: 100%;
    font-size: 12px;
}
.signer {
    float: left;
    text-align: left;
    width: 50%;
    margin-bottom: 40px;
}
.sign {
    margin-top: 18px;
    margin-bottom: 18px;
}
.terms {
    width: 100%;
}
table {
    text-align: left;
    font-size: 12px;
    page-break-inside:auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
tr {
    page-break-inside:avoid;
    page-break-after:auto;
}
td {
    padding: 15px;
    border-top: 1.3px solid #C8C8C8;
}
thead {
    display:table-header-group;
}
thead th {
    padding: 15px;
    border-top: 1.3px solid #C8C8C8;
}
tfoot {
    display:table-footer-group;
}
tr:nth-child(odd) {
    background-color: #E8E8E8;
}

</style>
