<style type="text/css">
@page { size: letter landscape; margin: 1cm;}
body { font-family: sans-serif; }

.content {
    padding: 50px;
/*
    font-size: 12px;
*/
    font-size: 8px;
}
.header {
}
.logo {
    padding-bottom: 20px;
}
.header-details {
    height: 40px;
    padding-top: 20px;
}
.header-id {
    float: left;
    font-weight: bold;
}
.header-date {
    float: right;
    font-weight: bold;
}
.maf {
    padding-bottom: 50px;
}
.maf-header {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.maf-cell-header {
    font-weight: bold;
}
.signer-position {
    width: 100%;
    font-size: 12px;
}
.signer {
    text-align: left;
    width: 50%;
    margin-bottom: 40px;
}
.sign {
    margin-top: 18px;
    margin-bottom: 18px;
}
.terms {
    page-break-before:always;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.maf-table {
    -fs-table-paginate: paginate;
    text-align: left;
/*
    font-size: 12px;
*/
    font-size: 8px;
    page-break-inside: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.maf-table tr {
    page-break-inside:avoid;
    page-break-after:auto;
}
.maf-table td {
    padding: 8px;
    border-top: 0.8px solid #C8C8C8;
}
.maf-table thead {
    display:table-header-group;
}
.maf-table thead th {
    padding: 15px;
    border-top: 0.8px solid #C8C8C8;
}
tfoot {
    display:table-footer-group;
}
.maf-table tr:nth-child(odd) {
    background-color: #F8F8F8;
}

</style>
