<html>
<head>
    <meta name="viewport" content="width=1980, initial-scale=1"/>
    <title>Welcome!</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
<h1>This is a test Contract</h1>
<p>Terms and Conditions:
    Read carefully!
</p>

<p>
<div id="first-signer">
    <div>
        <span>First Signer:</span>
        <span id="sign-1"></span>
    </div>
</div>
<br>
<div id="second-signer">
    <div>
        <span>Second Signer:</span>
        <span id="sign-2"></span>
    </div>
</div>
</p>
<div>
    <table>
        <caption>
            MEDIA AUTHORIZATION FORM
        </caption>
        <thead>
        <tr>
            <th scope="col">Market</th>
            <th scope="col">Format</th>
            <th scope="col">Digital Or Static</th>
            <th scope="col">Qty</th>
            <th scope="col">Total Media</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            </style>
            <td>Billboard</td>
            <td>Digital</td>
            <td>1</td>
            <td>12.21</td>
        </tr>
        <tr>
            <th scope="row">LA</th>
            <td>Billboard</td>
            <td>Digital</td>
            <td>1</td>
            <td>12.21</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
